<div>
<h2>Welcome to the Portland Public Schools Education Tech Manager!</h2>
<p>Using this web application, you can manage all your students and their equipment needs, current equipment details and statuses, and maintenance tickets, all in one place. </p>
<p>If you have already signed up with us, simply click the 'Login' option in the navigation bar above, or 'Sign Up' if it's your first time here!</p>
</div>