       <div class="col-auto">
            <form class="login-form mb-3">
                <label for="login" class="form-label">Login</label>
                 <div class="row">
                <div class="col-12 col-md-5">
                
                <input type="text" class="form-control" id="email-login" aria-describedby="email" placeholder="Email">
                </div>
                <div class="col-12 col-md-5">
                <input type="password" class="form-control" id="password-login" placeholder="Password">
                </div>
                <div class="col-12 col-md-2">
                <button type="submit" id="loginBtn" class="btn btn-primary">Login</button>
                </div>
                </div>
            </form>
        </div>
<script src="/js/login.js"></script>